<div class="hero">
    <h2>Voyager</h2>

    <ul class="nav">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/graph">Graph</a></li>
        <li><a routerLink="/stats">Stats</a></li>
        <li><a href="https://matrix.to/#/#voyager:t2bot.io" target="_blank">#voyager:t2bot.io</a></li>
    </ul>
</div>
<div class="wrapper">
    <p>TODO: Explain what the bot does and how it works. Include instructions to remove it from the room.</p>
</div>
<div class="footer">
    <a href="https://github.com/turt2live/matrix-voyager-bot" target="_blank">source on GitHub</a>
    <a href="https://matrix.org" target="_blank" class="made-for-matrix-anchor">
        <img src="./made-for-matrix.svg" class="made-for-matrix"/>
    </a>
    <a href="https://matrix.to/#/#voyager:t2bot.io">#voyager:t2bot.io</a>
</div>