// component styles are encapsulated and only applied to their components
* {
  color: #FFEF00;
}

my-graph {
  top: 6px;
  left: 6px;
  position: absolute;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
}