canvas {
  //border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

div.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  padding: 5px;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
  color: #000;
  font-size: 14px;
}

div.tooltip.node-tooltip {
  background: #bfdbff;
  border: 1px solid #98c3f9;
}

div.tooltip.link-tooltip {
  background: #bfdbff;
  border: 1px solid #98c3f9;
}

div.unsupported-browser {
  color: red;
}

div.progress-bar {
  background-color: #03a9f4;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
}