html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    padding: 0;
    margin: 0;
}

.svg-wrap {
    position: absolute;
    left: calc(5% / 2);
    top: calc(5% / 2);
    width: 95%;
    height: 95%;
}