.landing {
    width: 960px;
    margin: auto;
}

.button {
    text-decoration: none;
    color: #2c3e50;
    padding: 15px 25px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    transition: background-color 250ms;
}

.button:hover {
    background-color: #98c3f9;
}