<div class="landing">
    <h1>Matrix Traveler (Voyager)</h1>
    <p>Voyager is a bot that travels through Matrix trying to find new rooms. It does this by sitting in rooms and waiting for someone to mention another room, at which point it tries to join that room. Each new room it discovers is mapped to a public graph.</p>
    <p>Learn more about the bot on <a href="https://github.com/turt2live/matrix-voyager-bot">Github</a> or in <a href="https://matrix.to/#/#voyager:t2bot.io">#voyager:t2bot.io</a>.</p>
    <p>&nbsp;</p>
    <router-link class="button" to="/graph">View the graph</router-link>
    <router-link class="button" to="/stats">View the stats</router-link>
</div>