<div class="stats">
    <div v-if="isLoading">
        <h1>Loading...</h1>
    </div>
    <div v-if="!isLoading && error">
        <h1>{{ error }}</h1>
    </div>
    <div class="stats-container" v-if="!isLoading && !error">
        <div class="stats-header">
            <stat-box name="Discovered Rooms" color="#9bdaff" :value="stats.rooms" icon="comments"></stat-box>
            <stat-box name="Room Aliases" color="#aa9bff" :value="stats.aliases" icon="hashtag"></stat-box>
            <stat-box name="Discovered Users" color="#9dd896" :value="stats.users" icon="users"></stat-box>
            <stat-box name="Discovered Servers" color="#ffe06f" :value="stats.servers" icon="globe"></stat-box>
            <stat-box name="Room Mentions" color="#ff6fc5" :value="stats.mentions" icon="quote-left"></stat-box>
        </div>

        <table class="room-list">
            <thead>
            <tr>
                <th class="left-data">Room Name</th>
                <th class="left-data">Room Alias</th>
                <th class="right-metric">Users</th>
                <th class="right-metric">Servers</th>
                <th class="right-metric">Aliases</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="room in rooms">
                <td>
                    <span class="new-room" v-if="isNew(room)">New!</span>
                    {{ room.meta.displayName }}
                </td>
                <td><a :href="'https://matrix.to/#/' + room.meta.primaryAlias">{{ room.meta.primaryAlias }}</a></td>
                <td class="metric">{{ room.meta.stats.users | formatNumber }}</td>
                <td class="metric">{{ room.meta.stats.servers | formatNumber }}</td>
                <td class="metric">{{ room.meta.stats.aliases | formatNumber }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>